
.accommodation{
    margin: 0 auto;
    max-width: 1240px;
    
    /* Début du Slider */

    .slider{
        aspect-ratio: 4/2;
        width: 100%;
        position: relative;
        margin-bottom: 50px;
        
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 25px;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }

        .current-img {
            opacity: 1;
            transition: opacity 0.5s ease-in-out;
        }

        .slide-left-enter, .slide-right-leave {
            animation: slideLeft 1s forwards;
        }

        .slide-right-enter, .slide-left-leave {
            animation: slideRight 1s forwards;
        }

        @keyframes slideLeft {
            from { transform: translateX(100%); }
            to { transform: translateX(0); }
        }

        @keyframes slideRight {
            from { transform: translateX(-100%); }
            to { transform: translateX(0); }
        }
    

        .arrow-left{
            position: absolute;
            font-size: 55px;
            top: calc(50% - 27.5px);
            left: 25px;
            color: rgba(255, 255, 255, 1);
            z-index: 999;
            transition: transform 0.3s ease-in-out;

            &:hover{
                cursor: pointer;
                transform: scale(1.25);
            }
        }
        .arrow-right{
            position: absolute;
            font-size: 55px;
            top: calc(50% - 27.5px);
            right: 25px;
            color: rgba(255, 255, 255, 1);
            z-index: 999;
            transition: transform 0.3s ease-in-out;


            &:hover{
                cursor: pointer;
                transform: scale(1.25);
            }
        }
    }


    /* Début de la séction titres et profil */
    .headings-and-profile{
        display: flex;
        justify-content: space-between;

        .headings{
            width: 70%;

            .master-tags{
                display: flex;
                justify-content: flex-start;
                gap: 15px;
                margin-top: 25px;

            }
        }
        .profile{
            width: 12.5%;
            display: flex;
            flex-direction: column;
            gap: 25px;
            .profile-host{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 20px;

                p{
                    text-align: end;
                }
                img{
                    height: 64px;
                    width: auto;
                    border-radius: 50%;
                }
            }
            .master-rate{
                .rate{
                    display: flex;
                    justify-content: space-between;
                }
            }
            
        }
    }
}
.layout-dropdown-accommodation{
    width: 100%;
    margin: 50px 0;

    .master-dropdown{
        display: flex;
        justify-content: space-between;
        max-width: none;
        
        .dropdown{
            width: 45%;
            margin: 0;
        }
    }
}



@media (max-width: 1024px) {

    .accommodation{
        /* Début du Slider */
        .slider{
            
            .arrow-left{
                font-size: 50px;
                top: calc(50% - 37.5px);
            }
            .arrow-right{
                font-size: 50px;
                top: calc(50% - 37.5px);
            }
        }

        /* Début de la séction titres et profil */
        .headings-and-profile{
            display: flex;
            justify-content: space-between;

            .headings{
                width: 70%;

                .master-tags{
                    display: flex;
                    flex-direction: column;
                    width: fit-content;
                    gap: 7.5px;

                }
            }
            .profile{
                width: 30%;
                display: flex;
                flex-direction: column;
                gap: 25px;
                .profile-host{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    gap: 20px;

                    p{
                        text-align: end;
                    }
                    img{
                        height: 64px;
                        width: auto;
                        border-radius: 50%;
                    }
                }
                .master-rate{
                    .rate{
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                    }
                }
                
            }
        }
    }
}


@media (max-width: 768px) {

    .accommodation{
        /* Début du Slider */
        .slider{
            margin-bottom: 10px;
            img{
                border-radius: 10px;
            }
            .arrow-left{
                font-size: 50px;
                top: calc(50% - 37.5px);
            }
            .arrow-right{
                font-size: 50px;
                top: calc(50% - 37.5px);
            }
        }

        /* Début de la séction titres et profil */
        .headings-and-profile{
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .headings{
                width: 100%;

                h2{
                    font-size: 20px;
                }
                
                p{
                    font-size: 12px;

                }

                .master-tags{
                    display: flex;
                    flex-direction: row;
                    width: fit-content;
                    margin-bottom: 25px;
                    .filter{
                        font-size: 12px;
                    }
                }
            }
            .profile{
                width: 100%;
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
                gap: 25px;
                .profile-host{
                    width: 20%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    gap: 10px;

                    p{
                        text-align: end;
                        font-size: 10px;
                    }
                    img{
                        height: 32px;
                        width: auto;
                        border-radius: 50%;
                    }
                }
                .master-rate{
                    .rate{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        gap: 10px;
                    }
                }
                
            }
        }
    }
    .layout-dropdown-accommodation{
        width: 100%;
        margin: 50px 0;
    
        .master-dropdown{
            display: flex;
            flex-direction: column;
            gap: 30px;
            justify-content: space-between;
            max-width: none;
            
            .dropdown{
                width: 100%;
                margin: 0;
            }
        }
    }
}


@media (max-width: 425px) {

    .accommodation{
        /* Début du Slider */
        .slider{
            aspect-ratio: 1/1;
            margin-bottom: 10px;
            img{
                border-radius: 10px;
            }
            .arrow-left{
                font-size: 30px;
                top: calc(50% - 20px);
                left : 10px
            }
            .arrow-right{
                font-size: 30px;
                top: calc(50% - 20px);
                right : 10px
            }
        }

        /* Début de la séction titres et profil */
        .headings-and-profile{
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .headings{
                width: 100%;

                h2{
                    font-size: 20px;
                }
                
                p{
                    font-size: 12px;

                }

                .master-tags{
                    display: flex;
                    flex-direction: row;
                    width: fit-content;
                    flex-wrap: wrap;
                    margin-bottom: 25px;
                    .filter{
                        font-size: 10px;
                    }
                }
            }
            .profile{
                width: 100%;
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
                gap: 25px;
                .profile-host{
                    width: 20%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    gap: 10px;

                    p{
                        text-align: end;
                        font-size: 10px;
                    }
                    img{
                        height: 32px;
                        width: auto;
                        border-radius: 50%;
                    }
                }
                .master-rate{
                    .rate{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        gap: 5px;

                        img{
                            height: 18px;
                        }
                    }
                }
                
            }
        }
    }
    .layout-dropdown-accommodation{
        width: 100%;
        margin: 50px 0;
    
        .master-dropdown{
            display: flex;
            flex-direction: column;
            gap: 30px;
            justify-content: space-between;
            max-width: none;
            
            .dropdown{
                width: 100%;
                margin: 0;
            }
        }
    }
}