.master-dropdown{
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    
    .dropdown{
        width: 100%;
        margin: 30px auto;
        position: relative;
        
        .title-dropdown{
            position: absolute;
            top: 0;
            height: 50px;
            width: 100%;
            color: white;
            font-size: 18px;
            background-color: $orange;
            border-radius: 5px;
            padding: 10px 20px 10px 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            i{
                cursor: pointer;
            }
            .fa-chevron-up {
                transition: transform 0.3s ease; /* Transition pour un effet fluide dans les deux sens */
              }
            .rotate {
                transform: rotate(180deg); /* Ajustez l'angle de rotation selon vos besoins */
                transition: all 0.3s ease; /* Transition pour un effet de rotation fluide */
            }
        }
        
        .content-dropdown{
            height: auto;
            width: 100%;
            background-color: $grey;
            padding: 75px 20px 19px 20px;
            border-radius: 5px;
            
            ul{
                list-style-type: none;
                
                li{
                    line-height: 25.67px;
                    font-size: 18px;
                    color: $orange;
                    font-weight: 400;
                }
            }
            
        }
        
        .content-dropdown-active{
            display: none;
        }
        
        
    }
    .dropdown-active{
        height: 50px;
        
    }
    
    
}

@media (max-width: 960px) {
    .master-dropdown{
        .dropdown{
            .title-dropdown{
                font-size: 16px;
            }
            .content-dropdown{
                ul{
                    li{
                        font-size: 16px;
                        line-height: 20px;

                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .master-dropdown{
        .dropdown{
            .title-dropdown{
                font-size: 14px;
            }
            .content-dropdown{
                ul{
                    li{
                        font-size: 14px;
                        line-height: 19px;
                    }
                }
            }
        }
    }
}
@media (max-width: 425px) {
    .master-dropdown{
        .dropdown{
            .title-dropdown{
                font-size: 12px;
            }
            .content-dropdown{
                ul{
                    li{
                        font-size: 12px;
                        line-height: 18px;
                    }
                }
            }
        }
    }
}