.error{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    color: $orange;

    h1{
        font-size: 288px;
    }
    
    p{
        font-size: 36px;
        margin: 75px 0;
    }

    a{
        text-decoration: underline;
        color: $orange;
        font-size: 18px;
        
        &:hover {
            font-weight: 500;
            cursor: pointer;
        }
        
        p{
            margin: 0px;
        }
    }

}


@media (max-width: 375px) {
    .error{
        min-height:48.4vh;
    
        h1{
            font-size: 96px;
        }
        
        p{
            font-size: 18px;
            text-align: center;
        }
    
        a{
            text-decoration: underline;
            color: $orange;
            font-size: 18px;
            
            &:hover {
                font-weight: 500;
                cursor: pointer;
            }
            
            p{
                font-size: 14px;
                margin: 0px;
            }
        }
    
    }
}