
// ************************************************
// ***********         RESET CSS         **********
// ************************************************

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// ************************************************
// ***********         FONT  CSS         **********
// ************************************************
@font-face {
    font-family: "Montserrat";
    src: url(../font/Montserrat/Montserrat-VariableFont_wght.ttf);
}

*{
    font-family: "Montserrat", sans-serif;
}


// ************************************************
// ***********         COLOR CSS         **********
// ************************************************
$orange: rgba(255, 96, 96, 1);
$grey: rgba(246, 246, 246, 1);


// ************************************************
// ***********         CSS : APP         **********
// ************************************************

.app{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}





// ************************************************
// Importation des modules SCSS liès aux composants
// ************************************************
@import "header";
@import "banner";
@import "./thumbs";
@import "dropdown";
@import "error";
@import "footer";