*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Montserrat";
  src: url(../font/Montserrat/Montserrat-VariableFont_wght.ttf);
}
* {
  font-family: "Montserrat", sans-serif;
}

.app {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

header {
  padding: 75px 50px 50px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  margin: 0 50px 50px 50px;
}
header .header-logo {
  height: 68px;
  width: 210px;
}
header nav {
  font-size: 24px;
  display: flex;
  width: 309px;
  justify-content: flex-end;
  color: rgb(255, 96, 96);
}
header nav a {
  color: rgb(255, 96, 96);
  text-decoration: none;
}
header nav a:hover {
  text-decoration: underline;
}
header nav .link1 {
  margin-right: 75px;
}

.banner {
  position: relative;
  height: 223px;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner .banner-filter {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: black;
  opacity: 30%;
}
.banner h1 {
  position: absolute;
  font-size: 48px;
  color: rgb(255, 255, 255);
}

.home-section-thumb {
  max-width: 1240px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  padding: 50px;
  background-color: rgb(246, 246, 246);
  border-radius: 25px;
}
.home-section-thumb .thumb {
  position: relative;
  width: 340px;
  height: 340px;
}
.home-section-thumb .thumb .thumb-filter {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: black;
  opacity: 15%;
}
.home-section-thumb .thumb img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.home-section-thumb .thumb p {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
}

.master-dropdown {
  margin: 50px 0;
}

.dropdown {
  width: 1000px;
  margin: 30px auto;
  position: relative;
}
.dropdown .title-dropdown {
  position: absolute;
  top: 0;
  height: 50px;
  width: 100%;
  color: white;
  font-size: 18px;
  background-color: rgb(255, 96, 96);
  border-radius: 5px;
  padding: 10px 20px 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown .content-dropdown {
  height: auto;
  width: 100%;
  background-color: rgb(246, 246, 246);
  padding: 75px 20px 19px 20px;
  border-radius: 5px;
}
.dropdown .content-dropdown ul {
  list-style-type: none;
}
.dropdown .content-dropdown ul li {
  line-height: 25.67px;
  font-size: 18px;
  color: rgb(255, 96, 96);
  font-weight: 400;
}
.dropdown .content-dropdown-active {
  display: none;
}

.dropdown-active {
  height: 50px;
}

footer {
  position: absolute;
  left: 0px;
  background-color: black;
  height: 209px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
footer img {
  display: block;
  height: 40px;
  width: 122px;
}
footer p {
  margin-top: 50px;
}/*# sourceMappingURL=style.css.map */