@charset "UTF-8";
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Montserrat";
  src: url(../font/Montserrat/Montserrat-VariableFont_wght.ttf);
}
* {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Montserrat-500", sans-serif;
}
@font-face {
  font-family: "Montserrat-500";
  src: url(../font/Montserrat/static/Montserrat-Medium.ttf);
}

.app {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.about {
  min-height: calc(100vh - 377px);
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 50px 0;
  max-width: 1240px;
}
header .header-logo {
  height: 100%;
  width: auto;
}
header .header-logo a {
  width: 100%;
  height: 100%;
}
header .header-logo a img {
  display: block;
  width: 100%;
  height: 100%;
}
header nav {
  width: auto;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  font-size: 24px;
  color: rgb(255, 96, 96);
}
header nav a {
  color: rgb(255, 96, 96);
  text-decoration: none;
}
header .active {
  text-decoration: underline;
}

@media (max-width: 768px) {
  header nav {
    font-size: 20px;
    gap: 30px;
  }
}
@media (max-width: 600px) {
  header .header-logo {
    height: auto;
    width: 30%;
  }
  header nav {
    font-size: 16px;
    gap: 10px;
  }
}
@media (max-width: 375px) {
  header {
    padding: 25px 0;
  }
  header .header-logo {
    height: auto;
    width: 30%;
  }
  header nav {
    font-size: 14px;
    gap: 10px;
  }
}
.banner {
  position: relative;
  height: 223px;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner .banner-filter {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: black;
  opacity: 30%;
}
.banner h1 {
  position: absolute;
  font-size: 48px;
  color: rgb(255, 255, 255);
}

@media (max-width: 1024px) {
  .banner h1 {
    font-size: 42px;
  }
}
@media (max-width: 920px) {
  .banner h1 {
    font-size: 34px;
  }
}
@media (max-width: 768px) {
  .banner h1 {
    font-size: 28px;
    padding: 0 20px 0 20px;
  }
}
@media (max-width: 375px) {
  .banner img {
    border-radius: 10px;
  }
  .banner .banner-filter {
    border-radius: 10px;
  }
  .banner h1 {
    font-size: 24px;
  }
}
.home-section-thumb {
  max-width: 1240px;
  margin: 25px auto;
  padding: 0 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5%;
  background-color: rgb(246, 246, 246);
  border-radius: 25px;
}
.home-section-thumb .thumb {
  aspect-ratio: 1/1;
  position: relative;
  width: 30%;
  margin: 5% 0;
  transition: transform 0.5s ease-in-out;
}
.home-section-thumb .thumb .thumb-filter {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: black;
  opacity: 15%;
}
.home-section-thumb .thumb img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.home-section-thumb .thumb p {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  margin-right: 50px;
}
.home-section-thumb .thumb:hover {
  cursor: pointer;
  transform: scale(1.05);
}

@media (max-width: 1200px) {
  .home-section-thumb {
    padding: 0 25px;
  }
  .home-section-thumb .thumb {
    margin: 2.5% 0;
  }
}
@media (max-width: 768px) {
  .home-section-thumb {
    padding: 0 25px;
    gap: 10%;
  }
  .home-section-thumb .thumb {
    width: 45%;
    margin: 5% 0;
  }
  .home-section-thumb .thumb p {
    margin-right: 20px;
  }
}
@media (max-width: 580px) {
  .home-section-thumb {
    padding: 0 25px;
    gap: 10%;
  }
  .home-section-thumb .thumb {
    width: 100%;
    margin: 7.5% 0;
    font-size: 20px;
  }
}
@media (max-width: 425px) {
  .home-section-thumb {
    margin: 5% auto;
    padding: 0;
    width: 100%;
    gap: 0;
    background-color: transparent;
  }
  .home-section-thumb .thumb {
    width: 100%;
    margin: 0;
    margin: 10% 0;
    border-radius: 10px;
    font-size: 14px;
  }
}
.master-dropdown {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}
.master-dropdown .dropdown {
  width: 100%;
  margin: 30px auto;
  position: relative;
}
.master-dropdown .dropdown .title-dropdown {
  position: absolute;
  top: 0;
  height: 50px;
  width: 100%;
  color: white;
  font-size: 18px;
  background-color: rgb(255, 96, 96);
  border-radius: 5px;
  padding: 10px 20px 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.master-dropdown .dropdown .title-dropdown i {
  cursor: pointer;
}
.master-dropdown .dropdown .title-dropdown .fa-chevron-up {
  transition: transform 0.3s ease; /* Transition pour un effet fluide dans les deux sens */
}
.master-dropdown .dropdown .title-dropdown .rotate {
  transform: rotate(180deg); /* Ajustez l'angle de rotation selon vos besoins */
  transition: all 0.3s ease; /* Transition pour un effet de rotation fluide */
}
.master-dropdown .dropdown .content-dropdown {
  height: auto;
  width: 100%;
  background-color: rgb(246, 246, 246);
  padding: 75px 20px 19px 20px;
  border-radius: 5px;
}
.master-dropdown .dropdown .content-dropdown ul {
  list-style-type: none;
}
.master-dropdown .dropdown .content-dropdown ul li {
  line-height: 25.67px;
  font-size: 18px;
  color: rgb(255, 96, 96);
  font-weight: 400;
}
.master-dropdown .dropdown .content-dropdown-active {
  display: none;
}
.master-dropdown .dropdown-active {
  height: 50px;
}

@media (max-width: 960px) {
  .master-dropdown .dropdown .title-dropdown {
    font-size: 16px;
  }
  .master-dropdown .dropdown .content-dropdown ul li {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 768px) {
  .master-dropdown .dropdown .title-dropdown {
    font-size: 14px;
  }
  .master-dropdown .dropdown .content-dropdown ul li {
    font-size: 14px;
    line-height: 19px;
  }
}
@media (max-width: 425px) {
  .master-dropdown .dropdown .title-dropdown {
    font-size: 12px;
  }
  .master-dropdown .dropdown .content-dropdown ul li {
    font-size: 12px;
    line-height: 18px;
  }
}
.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
  color: rgb(255, 96, 96);
}
.error h1 {
  font-size: 288px;
}
.error p {
  font-size: 36px;
  margin: 75px 0;
}
.error a {
  text-decoration: underline;
  color: rgb(255, 96, 96);
  font-size: 18px;
}
.error a:hover {
  font-weight: 500;
  cursor: pointer;
}
.error a p {
  margin: 0px;
}

@media (max-width: 1024px) {
  .error h1 {
    font-size: 96px;
  }
  .error p {
    font-size: 18px;
    text-align: center;
  }
  .error a {
    text-decoration: underline;
    color: rgb(255, 96, 96);
    font-size: 18px;
  }
  .error a:hover {
    font-weight: 500;
    cursor: pointer;
  }
  .error a p {
    font-size: 14px;
    margin: 0px;
  }
}
.accommodation {
  margin: 0 auto;
  max-width: 1240px;
  /* Début du Slider */
  /* Début de la séction titres et profil */
}
.accommodation .slider {
  aspect-ratio: 4/2;
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}
.accommodation .slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.accommodation .slider .current-img {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.accommodation .slider .slide-left-enter, .accommodation .slider .slide-right-leave {
  animation: slideLeft 1s forwards;
}
.accommodation .slider .slide-right-enter, .accommodation .slider .slide-left-leave {
  animation: slideRight 1s forwards;
}
@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.accommodation .slider .arrow-left {
  position: absolute;
  font-size: 55px;
  top: calc(50% - 27.5px);
  left: 25px;
  color: rgb(255, 255, 255);
  z-index: 999;
  transition: transform 0.3s ease-in-out;
}
.accommodation .slider .arrow-left:hover {
  cursor: pointer;
  transform: scale(1.25);
}
.accommodation .slider .arrow-right {
  position: absolute;
  font-size: 55px;
  top: calc(50% - 27.5px);
  right: 25px;
  color: rgb(255, 255, 255);
  z-index: 999;
  transition: transform 0.3s ease-in-out;
}
.accommodation .slider .arrow-right:hover {
  cursor: pointer;
  transform: scale(1.25);
}
.accommodation .slider .image-counter {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: semi-bold;
  color: white;
}
.accommodation .headings-and-profile {
  display: flex;
  justify-content: space-between;
}
.accommodation .headings-and-profile .headings {
  width: 70%;
}
.accommodation .headings-and-profile .headings .master-tags {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 25px;
}
.accommodation .headings-and-profile .profile {
  width: 12.5%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.accommodation .headings-and-profile .profile .profile-host {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
.accommodation .headings-and-profile .profile .profile-host p {
  text-align: end;
}
.accommodation .headings-and-profile .profile .profile-host img {
  height: 64px;
  width: auto;
  border-radius: 50%;
}
.accommodation .headings-and-profile .profile .master-rate .rate {
  display: flex;
  justify-content: space-between;
}

.layout-dropdown-accommodation {
  width: 100%;
  margin: 50px 0;
}
.layout-dropdown-accommodation .master-dropdown {
  display: flex;
  justify-content: space-between;
  max-width: none;
}
.layout-dropdown-accommodation .master-dropdown .dropdown {
  width: 45%;
  margin: 0;
}

@media (max-width: 1024px) {
  .accommodation {
    /* Début du Slider */
    /* Début de la séction titres et profil */
  }
  .accommodation .slider .arrow-left {
    font-size: 50px;
    top: calc(50% - 37.5px);
  }
  .accommodation .slider .arrow-right {
    font-size: 50px;
    top: calc(50% - 37.5px);
  }
  .accommodation .headings-and-profile {
    display: flex;
    justify-content: space-between;
  }
  .accommodation .headings-and-profile .headings {
    width: 70%;
  }
  .accommodation .headings-and-profile .headings .master-tags {
    display: flex;
    flex-direction: column;
    width: -moz-fit-content;
    width: fit-content;
    gap: 7.5px;
  }
  .accommodation .headings-and-profile .profile {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .accommodation .headings-and-profile .profile .profile-host {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
  }
  .accommodation .headings-and-profile .profile .profile-host p {
    text-align: end;
  }
  .accommodation .headings-and-profile .profile .profile-host img {
    height: 64px;
    width: auto;
    border-radius: 50%;
  }
  .accommodation .headings-and-profile .profile .master-rate .rate {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .accommodation {
    /* Début du Slider */
    /* Début de la séction titres et profil */
  }
  .accommodation .slider {
    margin-bottom: 10px;
  }
  .accommodation .slider img {
    border-radius: 10px;
  }
  .accommodation .slider .arrow-left {
    font-size: 50px;
    top: calc(50% - 37.5px);
  }
  .accommodation .slider .arrow-right {
    font-size: 50px;
    top: calc(50% - 37.5px);
  }
  .accommodation .headings-and-profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .accommodation .headings-and-profile .headings {
    width: 100%;
  }
  .accommodation .headings-and-profile .headings h2 {
    font-size: 20px;
  }
  .accommodation .headings-and-profile .headings p {
    font-size: 12px;
  }
  .accommodation .headings-and-profile .headings .master-tags {
    display: flex;
    flex-direction: row;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 25px;
  }
  .accommodation .headings-and-profile .headings .master-tags .filter {
    font-size: 12px;
  }
  .accommodation .headings-and-profile .profile {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
  }
  .accommodation .headings-and-profile .profile .profile-host {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }
  .accommodation .headings-and-profile .profile .profile-host p {
    text-align: end;
    font-size: 10px;
  }
  .accommodation .headings-and-profile .profile .profile-host img {
    height: 32px;
    width: auto;
    border-radius: 50%;
  }
  .accommodation .headings-and-profile .profile .master-rate .rate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }
  .layout-dropdown-accommodation {
    width: 100%;
    margin: 50px 0;
  }
  .layout-dropdown-accommodation .master-dropdown {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
    max-width: none;
  }
  .layout-dropdown-accommodation .master-dropdown .dropdown {
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 425px) {
  .accommodation {
    /* Début du Slider */
    /* Début de la séction titres et profil */
  }
  .accommodation .slider {
    aspect-ratio: 1/1;
    margin-bottom: 10px;
  }
  .accommodation .slider img {
    border-radius: 10px;
  }
  .accommodation .slider .arrow-left {
    font-size: 30px;
    top: calc(50% - 20px);
    left: 10px;
  }
  .accommodation .slider .arrow-right {
    font-size: 30px;
    top: calc(50% - 20px);
    right: 10px;
  }
  .accommodation .headings-and-profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .accommodation .headings-and-profile .headings {
    width: 100%;
  }
  .accommodation .headings-and-profile .headings h2 {
    font-size: 20px;
  }
  .accommodation .headings-and-profile .headings p {
    font-size: 12px;
  }
  .accommodation .headings-and-profile .headings .master-tags {
    display: flex;
    flex-direction: row;
    width: -moz-fit-content;
    width: fit-content;
    flex-wrap: wrap;
    margin-bottom: 25px;
  }
  .accommodation .headings-and-profile .headings .master-tags .filter {
    font-size: 10px;
  }
  .accommodation .headings-and-profile .profile {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
  }
  .accommodation .headings-and-profile .profile .profile-host {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }
  .accommodation .headings-and-profile .profile .profile-host p {
    text-align: end;
    font-size: 10px;
  }
  .accommodation .headings-and-profile .profile .profile-host img {
    height: 32px;
    width: auto;
    border-radius: 50%;
  }
  .accommodation .headings-and-profile .profile .master-rate .rate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
  }
  .accommodation .headings-and-profile .profile .master-rate .rate img {
    height: 18px;
  }
  .layout-dropdown-accommodation {
    width: 100%;
    margin: 50px 0;
  }
  .layout-dropdown-accommodation .master-dropdown {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
    max-width: none;
  }
  .layout-dropdown-accommodation .master-dropdown .dropdown {
    width: 100%;
    margin: 0;
  }
}
.filter {
  height: 25px;
  padding: 0 15px;
  background-color: rgb(255, 96, 96);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 14px;
  line-height: 20px;
}

footer {
  position: absolute;
  left: 0px;
  background-color: black;
  height: 209px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
footer img {
  display: block;
  height: 40px;
  width: 122px;
}
footer p {
  margin-top: 50px;
}

@media (max-width: 375px) {
  footer p {
    font-size: 12px;
    margin: 30px 90px 0px 90px;
  }
}/*# sourceMappingURL=style.css.map */